<form action="/update/<%= @student[:id] %>" method="post">
Name: <input name="name" value="<%= @student[:name] %>"><br>
Age: <input name="age" value="<%= @student[:age] %>"><br>
<button>Update</button>
</form>
