<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/style.css">
  <title>Student System</title>
</head>
<body>

<div style="text-align:right; margin:15px;">
  <% if session[:user] %>
    Welcome, <b><%= session[:user] %></b> |
    <a href="/logout">Logout</a>
  <% end %>
</div>

<h1>Student Management System</h1>
<%= yield %>

</body>
</html>
