<!DOCTYPE html>
<html>
<head>
  <title>Student System</title>
  <link rel="stylesheet" href="/dashboard.css">
  <link rel="stylesheet" href="/style.css">
</head>
<body>

<% unless request.path_info == '/login' %>
  <header class="topbar">
    <div class="logo">🎓 Student System</div>
    <div class="user-area">
      Welcome, <b><%= session[:user] %></b> |
      <a href="/logout">Logout</a>
    </div>
  </header>
<% end %>

<main class="container">
  <%= yield %>
</main>


</body>
</html>
