<link rel="stylesheet" href="/forms.css">

<div class="form-container">
  <h2>Add Student</h2>

  <form action="/create" method="post">
    <div class="form-group">
      <label>Full Name</label>
      <input name="name" required>
    </div>

    <div class="form-group">
      <label>Age</label>
      <input type="number" name="age" required>
    </div>

    <button class="form-btn">Save Student</button>
  </form>
</div>

