<link rel="stylesheet" href="/forms.css">

<div class="form-container fade-in">
  <h2>Add Student</h2>

  <form action="/create" method="post">

    <div class="input-box">
      <input type="text" name="name" required>
      <label>Full Name</label>
    </div>

    <div class="input-box">
      <input type="number" name="age" required>
      <label>Age</label>
    </div>

    <div class="input-box">
      <input type="text" name="address" required>
      <label>Address</label>
    </div>

    <div class="input-box">
      <input type="tel" name="mobile" required>
      <label>Mobile Number</label>
    </div>

    <div class="input-box">
      <input type="text" name="nic">
      <label>NIC Number (Optional)</label>
    </div>

    <div class="input-box">
      <input type="text" name="school" required>
      <label>School Name</label>
    </div>

    <button class="neon-btn">Save Student</button>
  </form>
</div>
