body {
  margin: 0;
  height: 100vh;
  background: radial-gradient(circle at top, #0f172a, #020617);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', sans-serif;
  color: #e2e8f0;
  animation: fadeIn 1s ease;
}

/* LOGIN CARD */
.login-container {
  background: rgba(15, 23, 42, 0.95);
  padding: 45px;
  border-radius: 20px;
  width: 360px;
  text-align: center;
  box-shadow: 0 0 40px rgba(99,102,241,0.5);
  animation: floatUp 0.8s ease;
}

/* TITLE */
.login-container h2 {
  margin-bottom: 25px;
  color: #a5b4fc;
}

/* INPUT */
.input-box {
  position: relative;
  margin-bottom: 30px;
}

.input-box input {
  width: 100%;
  padding: 14px;
  border: none;
  outline: none;
  border-radius: 10px;
  background: #020617;
  color: #e2e8f0;
  font-size: 16px;
}

/* FLOAT LABEL */
.input-box label {
  position: absolute;
  left: 14px;
  top: 14px;
  color: #64748b;
  pointer-events: none;
  transition: .3s;
}

.input-box input:focus + label,
.input-box input:valid + label {
  top: -12px;
  left: 10px;
  background: #020617;
  padding: 0 6px;
  font-size: 12px;
  color: #a5b4fc;
}

/* BUTTON */
.neon-btn {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 12px;
  background: linear-gradient(90deg, #6366f1, #22d3ee);
  color: #020617;
  font-weight: bold;
  cursor: pointer;
  transition: .3s;
}

.neon-btn:hover {
  transform: translateY(-2px) scale(1.05);
  box-shadow: 0 0 35px #22d3ee;
}

/* ERROR MESSAGE */
.login-error {
  background: #ffeded;
  color: #b00020;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 15px;
  text-align: center;
  font-weight: bold;
}


/* ANIMATIONS */
@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes floatUp {
  from {opacity: 0; transform: translateY(40px)}
  to {opacity: 1; transform: none}
}

/* MOBILE */
@media(max-width:500px){
  .login-container {
    width: 90%;
    padding: 30px;
  }
}
