.form-container {
  max-width: 620px;
  margin: 60px auto;
  background: rgba(2,6,23,0.95);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 0 40px rgba(99,102,241,0.35);
}

.form-container h2 {
  text-align: center;
  color: #a5b4fc;
  margin-bottom: 30px;
}

/* NORMAL FORM ROW */
.form-row {
  margin-bottom: 18px;
}

.form-row label {
  display: block;
  margin-bottom: 6px;
  color: #c7d2fe;
  font-size: 14px;
}

.form-row input {
  width: 100%;
  padding: 12px 14px;
  border-radius: 10px;
  border: 1px solid #1e293b;
  background: #020617;
  color: white;
  outline: none;
  transition: 0.2s;
}

.form-row input:focus {
  border-color: #6366f1;
  box-shadow: 0 0 0 2px rgba(99,102,241,0.25);
}

/* BUTTON */
.form-btn {
  margin-top: 25px;
  width: 100%;
  padding: 14px;
  border-radius: 14px;
  border: none;
  background: linear-gradient(90deg, #6366f1, #22d3ee);
  font-weight: bold;
  cursor: pointer;
  color: #020617;
}

.form-btn:hover {
  box-shadow: 0 0 25px #22d3ee;
}

/* MOBILE */
@media (max-width:600px) {
  .form-container { width: 92%; padding: 30px; }
}
