.form-container {
  max-width: 450px;
  margin: 60px auto;
  background: rgba(15,23,42,0.9);
  padding: 35px;
  border-radius: 18px;
  box-shadow: 0 0 40px rgba(99,102,241,0.4);
  animation: fadeUp .7s ease;
}

.form-container h2 {
  text-align: center;
  color: #a5b4fc;
  margin-bottom: 25px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 6px;
  color: #c7d2fe;
}

.form-group input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: #020617;
  color: white;
}

.form-btn {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: none;
  background: linear-gradient(90deg, #6366f1, #22d3ee);
  color: black;
  font-weight: bold;
  cursor: pointer;
}


.form-btn:hover {
  box-shadow: 0 0 20px #22d3ee;
}
